:root .theme_dark {
  --logo-color: #db00ff;
  --main-color: #ff0070;
  --accent-color: #ff0070;
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --text-color: #f1b2ce;
  --title-color: #000028;
  --hover-color: rgba(255, 0, 112, 0.4);
  --font: "IBM Plex mono";
  --text-weight: normal;
  --title-weight: bold;
  --logo-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --text-size: 18px;
  --logo-line-height: 82.5%;
  --text-line-height: 130%;
  --gap: 20px;
}

.page.theme_dark {
  background-image: var(--bg-image);
}
.page.theme_dark .header__decoration {
  visibility: visible;
}

@media (prefers-color-scheme: dark) {
  :root {
    --logo-color: #db00ff;
    --main-color: #ff0070;
    --accent-color: #ff0070;
    --bg-color: #000028;
    --bg-image: url(../images/cover-image-dark.png);
    --text-color: #f1b2ce;
    --title-color: #000028;
    --hover-color: rgba(255, 0, 112, 0.4);
    --font: "IBM Plex mono";
    --text-weight: normal;
    --title-weight: bold;
    --logo-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --text-size: 18px;
    --logo-line-height: 82.5%;
    --text-line-height: 130%;
    --gap: 20px;
  }
  .page {
    background-image: var(--bg-image);
  }
}
