:root.theme_light {
  
}

.page.theme_light {
  background-color: var(--bg-color, #fff1f7);
  background: url(../images/cover-image-light.png);
  color: var(--text-color, #353430);
  font-family: var(--font, sans-serif);
  font-size: var(--text-size,18px);
  font-weight: var(--text-weight,normal);
 background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  container: page / inline-size;
  overflow: auto; --logo-color: #ffc2e6;
  --main-color: #353430;
  --accent-color: #ff8dcb;
  --bg-color: #fff1f7;
  --text-color: #353430;
  --title-color:#353430;
  --font: 'IBM Plex mono';
  --text-weight: normal;
  --title-weight: bold;
  --logo-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
  --text-size: 18px;
  --logo-line-height: 82.5%;
  --text-line-height: 130%;
  --gap: 20px;
}

.header__decoration.theme_light {
  display: none;
}

@media (width >= 1024px) {
  .text-shadow {
    text-shadow: 4px 4px 0 #ff0070;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --logo-color: #ffc2e6;
    --main-color: #353430;
    --accent-color: #ff8dcb;
    --bg-color: #fff1f7;
    --text-color: #353430;
    --title-color:#353430;
    --font: 'IBM Plex mono';
    --text-weight: normal;
    --title-weight: bold;
    --logo-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
    --text-size: 18px;
    --logo-line-height: 82.5%;
    --text-line-height: 130%;
    --gap: 20px;
  }
  .page {
    background-color: var(--bg-color, #fff1f7);
    background: url(../images/cover-image-light.png);
    color: var(--text-color, #353430);
    font-family: var(--font, sans-serif);
    font-size: var(--text-size,18px);
    font-weight: var(--text-weight,normal);
   background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: auto;
  }
  .header__decoration {
    display: none;
  }
}