:root .theme_light {
  --logo-color: #ffc2e6;
  --main-color: #353430;
  --accent-color: #ff8dcb;
  --bg-color: #fff1f7;
  --bg-image: url(../images/cover-image-light.png);
  --text-color: #353430;
  --title-color: #353430;
  --hover-color: rgba(50, 49, 45, 0.4);
  --font: "IBM Plex mono";
  --text-weight: normal;
  --title-weight: bold;
  --logo-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --text-size: 18px;
  --logo-line-height: 82.5%;
  --text-line-height: 130%;
  --gap: 20px;
}

.page.theme_light {
  background-image: var(--bg-image);
}
.page.theme_light .header__decoration {
  display: none;
}


@media (prefers-color-scheme: light) {
  :root {
    --logo-color: #ffc2e6;
    --main-color: #353430;
    --accent-color: #ff8dcb;
    --bg-color: #fff1f7;
    --bg-image: url(../images/cover-image-light.png);
    --text-color: #353430;
    --title-color: #353430;
    --hover-color: rgba(50, 49, 45, 0.4);
    --font: "IBM Plex mono";
    --text-weight: normal;
    --title-weight: bold;
    --logo-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --text-size: 18px;
    --logo-line-height: 82.5%;
    --text-line-height: 130%;
    --gap: 20px;
  }
  .page {
    background-image: var(--bg-image);
  }

}
