/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
a:hover {
  border-bottom: 2px solid var(--text-color);
}

a:focus {
  outline: none;
}

a:focus-visible {
  outline: 1px solid var(--text-color);
  outline-offset: 1px;
}

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: var(--font, sans-serif);
  font-size: var(--text-size, 18px);
  font-weight: var(--text-weight, normal);
  background-color: var(--bg-color, #000028);
  background: var(--bg-image);
  color: var(--text-color, #f1b2ce);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: auto;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  min-block-size: 100vh;
  padding: 20px;
  gap: 9vi;
}

.header__theme-menu-list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 12px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  color: var(--main-color);
  text-align: center;
  line-height: 100%;
  padding: 0px 12px 4px;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid rgba(255, 0, 112, 0.4);
  outline-offset: 1px;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--main-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--main-color);
}

.header__title {
  place-self: center start;
  color: var(--logo-color);
  font-size: var(--logo-size, clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem));
  line-height: var(--logo-line-height);
  position: relative;
  right: 20px;
}

.text-shadow {
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__description {
  font-weight: var(--title-weight);
  place-self: start end;
  inline-size: clamp(355px, 48vi, 491px);
  block-size: clamp(71px, 9vb, 117px);
}

.title-decor {
  line-height: var(--text-line-height);
  color: var(--title-color);
  background-color: var(--accent-color);
}

.header__decoration {
  color: var(--accent-color);
  text-align: end;
  line-height: 138.889%;
  position: absolute;
  right: 4.5vi;
  top: 1.9vi;
}

.header__decoration::before {
  content: "";
  position: absolute;
  inline-size: 9px;
  block-size: 9px;
  background-color: var(--main-color);
  border-radius: 50%;
  left: 41px;
  top: 8px;
  box-shadow: 0px 0px 5px 3px var(--main-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--main-color);
  border-inline-end: 1px solid var(--main-color);
  right: 1.9vi;
  top: 1.9vi;
}
.decorated-zone::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-block-end: 1px solid var(--main-color);
  border-inline-start: 1px solid var(--main-color);
  bottom: 1.9vi;
  left: 1.9vi;
}

.content {
  padding: 0vi 20px;
  margin: 60px 0px;
}

.content__text-block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap);
  margin-bottom: 85px;
}

.content__text-block-row {
  grid-column: 2 / -1;
}

.content__title {
  color: var(--main-color);
  font-size: var(--text-size);
  font-weight: var(--title-weight);
  line-height: var(--text-line-height);
}

.content__title-column {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.content__text-block-column {
  grid-row: 2 / 4;
}

.content__subtitle {
  font-weight: var(--title-weight);
  margin-bottom: 10px;
  font-size: var(--text-size);
}

.content__subtitle-normal {
  font-weight: var(--text-weight);
}

.content__subtitle-comment {
  margin-bottom: var(--gap);
}

content__subtitle-comment-text {
  margin-bottom: var(--gap);
}

.content__galary-block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-inline-size: calc(100vi - 1.9vi);
  grid-template-areas:
    "sunset sunset ice-cream"
    "tape books ice-cream"
    "tape street street";
  gap: var(--gap);
}

.content__galary-image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.sunset {
  grid-area: sunset;
}

.ice-cream {
  grid-area: ice-cream;
}

.tape {
  grid-area: tape;
}

.books {
  grid-area: books;
}

.street {
  grid-area: street;
}

.footer {
  position: relative;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  min-block-size: 100vh;
  padding: 20px;
}

.footer__title {
  display: grid;
  font-size: var(--logo-size);
  color: var(--logo-color);
  line-height: var(--logo-line-height);
  place-items: center center;
  grid-row: 1 / -1;
}

@media (768px <= width < 1024px) {
  .header {
    gap: 0vh;
    grid-template-rows: 267px 274px 1fr;
  }
  .header__theme-menu-list {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
  }
  .header__theme-menu {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: flex-end;
  }

  .header__title {
    align-self: end;
  }

  .header__description {
    block-size: 117px;
    align-self: center;
  }

  .content__text-block-column {
    grid-column: 1 / -1;
    grid-row: auto;
  }
  .header__decoration {
    right: 6vi;
    top: 2.5vi;
  }
  .content__paragraph {
    word-spacing: 1px;
  }
}

@media (375px <= width < 768px) {
  .header {
    padding: 10px;
    grid-template-rows: 225px 1fr 170px;
    gap: 1vi;
  }
  .header__title {
    align-self: start;
    right: 0px;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .header__theme-menu-list {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
  }
  .header__theme-menu {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
  }

  .header__decoration {
    right: 10vi;
    top: 2.5vi;
  }

  .header__description {
    block-size: 115px;
  }
  .content {
    padding: 0vi 10px;
    margin: 40px 0;
  }

  .content__text-block {
    display: flex;
    flex-direction: column;
    gap: 22.5px;
    margin-bottom: 50px;
  }

  .content__galary-block {
    grid-template-areas:
      "sunset sunset sunset"
      "ice-cream ice-cream ice-cream"
      "tape tape tape "
      "books books books"
      "street street street";
    gap: 10px;
  }

  .content__subtitle-comment {
    margin-bottom: 10px;
  }

  .content__subtitle-comment-text {
    margin-bottom: 20px;
  }

  .footer {
    padding: 10px;
  }
}
